/* $testDivColor: #0000FF; */

.test_div {
  color: #0000ff;
  font-weight: bold;
}

.temp-border {
  border: 2px solid greenyellow;
}

.scrumfan-heading {
  font-family: "Crafty Girls", cursive;
  font-size: 2rem;
}
