.scrumfan-heading {
  font-family: "Crafty Girls", cursive;
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.parentContainer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.parentContainer > h2 {
  grid-column: 6 / 8;
  grid-row: 4 / 5;
  text-align: center;
  // margin-top: 1.5rem;
}

.tableContainer {
  grid-column: 1 / 13;
  grid-row: 7 / 13;
}

.addChoreContainer {
  grid-column: 5 / 9;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.navBar {
  grid-column: 1 / 13;
  grid-column: 1 / 2;
}

.navBarLinks {
  color: #3f51b5;
  background-color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  border: 1;
  border-radius: 10% 20%;
  border-width: 1;
  border-style: solid;
  padding: 0.5rem;
}

.navBarLinks:hover {
  background-color: #3f51b5;
  color: white;
}

.appBar {
  width: 100%;
}

.subAdd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiSelect-select {
  width: 2rem;
}
