.scrumfan-heading {
  font-family: "Crafty Girls", cursive;
  font-size: 3rem;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.parentContainer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.parentContainer > h2 {
  grid-column: 6 / 8;
  grid-row: 4 / 5;
  text-align: center;
  // margin-top: 1.5rem;
}

.tableContainer {
  grid-column: 1 / 13;
  grid-row: 7 / 13;
}

.addChoreContainer {
  grid-column: 5 / 9;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.navBar {
  grid-column: 1 / 13;
  grid-column: 1 / 2;
}

.navBarLinks {
  color: #3f51b5;
  background-color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  border: 1;
  border-radius: 10% 20%;
  border-width: 1;
  border-style: solid;
  padding: 0.5rem;
}
.linkContainer {
  // margin-right: 0;
  position: absolute;
  right: 20;
}

.relativeContainer {
  position: relative;
}

.navBarLinks:hover {
  background-color: #3f51b5;
  color: white;
}

.appBar {
  width: 100%;
}

.subAdd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiSelect-select {
  width: 2rem;
}

.adminContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(12, 1fr);
  place-items: center;
  background-color: #fafafa;
}

.parentsChildContainer {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  // background-color: yellow;
  // grid-column: 3 / 4;
  // grid-row: 3 / 4;
}
.userBox {
  // background-color: green;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 35vh;
  // border: 1;
  // border-width: 0.25rem;
  // border-style: solid;
  // border-color: green;
  border-radius: 20px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.images {
  border-radius: 50%;
}

.btn {
  background-color: transparent;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Montserrat" !important;
  letter-spacing: 0.12rem;
  color: rgb(53, 53, 53);
  font-weight: bold;
}

.descriptionHeader {
  width: 100%;
  color: rgb(114, 114, 114);
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-start;
  text-align: start;
}

.childBox {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-family: "Montserrat" !important;
}

.status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif !important;
  border-top: 0.8px solid rgb(184, 179, 179);
  padding-top: 1rem;
  margin-top: 5rem;
}

.status > p {
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: rgb(53, 53, 53);
}

.assignedAt {
  color: rgb(173, 171, 171);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.back {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v661-tk-16-watercolorpattern_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=1add71ba2577d8a760ab809304018bf1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 23vw;
}

.childComp {
  // width: 100vw;
  // height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #fafafa;
}

.childGrid {
  grid-column: 1 / 13;
  grid-row: 5 / 20;
  // justify-content: start;
  width: 100%;
  padding: 2rem;
}

.imagesChild {
  border-radius: 50%;
}
